build
dist
*.spec
upx
*.log
*.logs
log
logs
*.vscode
*.zip
*.bak
*.rpt
*.smsg
*.summary
*.rpt
*.sld
*.sof
*.vwf
*.db_info
*.cmp.ammdb
*.ammdb
*.cmp.cdb
*.cdb
*.cmp.dfp
*.dfp
*.cmp.hdb
*.hdb
*.cmp.logdb
*.logdb
*.map.cgb
*.cdb
*.db_info
*.root_partition.cmp.ammdb
*.root_partition.cmp.cdb
*.root_partition.cmp.dfp
*.root_partition.cmp.hdb
*.root_partition.cmp.logdb
*.root_partition.cmp.rcfdb
*.root_partition.map.cdb
*.root_partition.map.dpi
*.root_partition.map.hbdb.cdb
*.root_partition.map.hbdb.hb_info
*.root_partition.map.hbdb.hdb
*.root_partition.map.hbdb.sig
*.root_partition.map.hdb
*.root_partition.map.kpt
*.rrp.hdb
*.asm.rpt
*.done
*.eda.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.summary
*.pin
*.sld
*.sof
*.sta.rpt
*.sta.summary
*..cr.mti
*..mpf
*..vhd
*.pack.vhd
*.vhd
transcript
*.wlf
*.do
*.vwf
_info
*.qdb
*.qdb
*.qpg
*.qtl
_vmake
work
vsim
*.db_info\
*.cmp.kpt
*.asm.qmsg
*.asm.rdb
*.asm_labs.ddb
*.cbx.xml
*.cmp.bpm
*.cmp.idb
*.cmp.rdb
*.cmp_merge.kpt
*.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
*.cycloneive_io_sim_cache.45um_tt_1200mv_0c_slow.hsd
*.cycloneive_io_sim_cache.45um_tt_1200mv_85c_slow.hsd
*.eda.qmsg
*.fit.qmsg
*.hier_info
*.hif
*.lpc.html
*.lpc.rdb
*.lpc.txt
*.map.bpm
*.map.kpt
*.map.qmsg
*.map.rdb
*.routing.rdb
*.sld_design_entry.sci
*.sld_design_entry_dsc.sci
*.smart_action.txt
*.sta.qmsg
*.sta.rdb
*.sta_cmp.6_slow_1200mv_85c.tdb
*.tis_db_list.ddb
*.tiscmp.fast_1200mv_0c.ddb
*.tiscmp.slow_1200mv_0c.ddb
*.tiscmp.slow_1200mv_85c.ddb
*.qmsg
*.tmw_info
*.cvwf
*.wsf
.vho
.cdf